NodeRed/Nodefile
[{"id":"4a101eaf.2c912","type":"tab","label":"Smart Pallette","disabled":false,"info":""},{"id":"b2750b5b.b7db08","type":"debug","z":"4a101eaf.2c912","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":210,"y":220,"wires":[]},{"id":"e0f2e4cb.37a36","type":"http request","z":"4a101eaf.2c912","name":"","method":"GET","ret":"obj","url":"http://localhost:4000/","tls":"","x":290,"y":440,"wires":[["b2750b5b.b7db08","7a1b1a7e.d4bb24","1b699cb5.eaaa4b","462ecdd9.c0a96c","b8398d37.b8039"]]},{"id":"d65c0ce5.33b018","type":"inject","z":"4a101eaf.2c912","name":"","topic":"","payload":"","payloadType":"date","repeat":"2","crontab":"","once":true,"onceDelay":0.1,"x":130,"y":440,"wires":[["e0f2e4cb.37a36"]]},{"id":"de046aa8.f0a3e8","type":"ui_gauge","z":"4a101eaf.2c912","name":"Termperature","group":"83cc2bdb.be096","order":1,"width":"0","height":"0","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":"0","max":"60","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":220,"wires":[]},{"id":"7a1b1a7e.d4bb24","type":"change","z":"4a101eaf.2c912","name":"parseTempGauge","rules":[{"t":"set","p":"ui_control.min","pt":"msg","to":"payload.TempL","tot":"msg"},{"t":"set","p":"ui_control.max","pt":"msg","to":"payload.TempH","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.Temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":220,"wires":[["de046aa8.f0a3e8"]]},{"id":"1b699cb5.eaaa4b","type":"change","z":"4a101eaf.2c912","name":"parseHmdGauge","rules":[{"t":"set","p":"ui_control.min","pt":"msg","to":"payload.HmdL","tot":"msg"},{"t":"set","p":"ui_control.max","pt":"msg","to":"payload.HmdH","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.Hmd","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":550,"y":260,"wires":[["18e65f47.5b5799"]]},{"id":"18e65f47.5b5799","type":"ui_gauge","z":"4a101eaf.2c912","name":"","group":"83cc2bdb.be096","order":2,"width":"0","height":"0","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":720,"y":260,"wires":[]},{"id":"462ecdd9.c0a96c","type":"change","z":"4a101eaf.2c912","name":"parseAmount","rules":[{"t":"set","p":"ui_control.max","pt":"msg","to":"payload.Capacity","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.CurrentNo","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":300,"wires":[["2b1f22d8.7296ae"]]},{"id":"2b1f22d8.7296ae","type":"ui_gauge","z":"4a101eaf.2c912","name":"","group":"d87c1a31.38bc6","order":0,"width":"0","height":"0","gtype":"wave","title":"","label":"","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":300,"wires":[]},{"id":"d53afb3.da3db88","type":"ui_text","z":"4a101eaf.2c912","group":"ee7bb280.5daf98","order":1,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload.Name}}","layout":"row-spread","x":710,"y":400,"wires":[]},{"id":"b8398d37.b8039","type":"change","z":"4a101eaf.2c912","name":"parseInfo","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":500,"wires":[["d53afb3.da3db88","86002eb9.aa893","7efe7c8.0168684","779bfc1e.8d0e64","b91e8a6f.f2cc3","e522ef44.c5dba"]]},{"id":"86002eb9.aa893","type":"ui_text","z":"4a101eaf.2c912","group":"ee7bb280.5daf98","order":3,"width":0,"height":0,"name":"","label":"Expiry Date","format":"{{msg.payload.Exp}}","layout":"row-spread","x":730,"y":440,"wires":[]},{"id":"7efe7c8.0168684","type":"ui_text","z":"4a101eaf.2c912","group":"ee7bb280.5daf98","order":4,"width":0,"height":0,"name":"","label":"Unit Weight","format":"{{msg.payload.Unitweight}}","layout":"row-spread","x":730,"y":480,"wires":[]},{"id":"779bfc1e.8d0e64","type":"ui_text","z":"4a101eaf.2c912","group":"ee7bb280.5daf98","order":5,"width":0,"height":0,"name":"","label":"Capacity","format":"{{msg.payload.Capacity}}","layout":"row-spread","x":720,"y":520,"wires":[]},{"id":"b91e8a6f.f2cc3","type":"ui_text","z":"4a101eaf.2c912","group":"ee7bb280.5daf98","order":6,"width":0,"height":0,"name":"","label":"No. Left","format":"{{msg.payload.CurrentNo}}","layout":"row-spread","x":720,"y":560,"wires":[]},{"id":"e522ef44.c5dba","type":"ui_text","z":"4a101eaf.2c912","group":"ee7bb280.5daf98","order":7,"width":0,"height":0,"name":"","label":"Time Stamp","format":"{{msg.payload.Time}}","layout":"row-spread","x":730,"y":600,"wires":[]},{"id":"f253.c6634dad38","type":"function","z":"4a101eaf.2c912","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":560,"wires":[[]]},{"id":"83cc2bdb.be096","type":"ui_group","z":"","name":"Environment","tab":"646f65be.f0a5ac","order":3,"disp":true,"width":"6","collapse":false},{"id":"d87c1a31.38bc6","type":"ui_group","z":"","name":"Amount","tab":"646f65be.f0a5ac","order":2,"disp":true,"width":"6","collapse":false},{"id":"ee7bb280.5daf98","type":"ui_group","z":"","name":"Info","tab":"646f65be.f0a5ac","order":1,"disp":true,"width":"6","collapse":false},{"id":"646f65be.f0a5ac","type":"ui_tab","z":"","name":"Smart Pallette","icon":"dashboard","disabled":false,"hidden":false}]
